*{
 
    margin: 140;
    padding: 140;
    box-sizing: border-box;
    text-align: center;

}
#header{

    margin: auto;
    width: 700px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
}

#titulo{
	background : #200;
	color: #fff;
	text-align: center;
	padding: 10px;
}

#titulo .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


ul,ol{
    list-style:none;
}


.menu li a { 
    background-color:#200 ;
    color: #fff;
    text-decoration: none;
    padding:10px 15px ;
    display:block;
}
.menu li a:hover{
    background-color:#434343 ;

}
.menu >li{
    float:left;
}
.menu li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}
.menu li:hover> ul{
    display:block
}
.menu li ul li{
    position: relative;
}
.menu li ul li ul{
    right: -140px;
    top:0px;
}


.fondoI {
	width: 50%;
	display: block;
}

.fondoI > .fondo-image{
	width: 50%;
	display: block;
}

#blanco0{
	background : #200;
	color: #fff;
	text-align: center;
	padding: 10px;
}

#blanco0 .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#blanco1{
	background : #200;
	padding: 20px;
}

#blanco1 .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}








#info{
	background : #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

#info .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.infor{
	margin: 20px;
}

.infor img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
	border: 7px solid #fff ;
}
@media (min-width:480px){
	.infor{
		width: 40%;
	}
}

@media (min-width:1024px){
	.infor{
		width: auto;
	}
}




#blanco2{
	background : #200;
	padding: 20px;
}

#blanco2 .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}







#Redes{
	background-color:#200;
    text-align: center;
    font-size: 8px;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    	padding: 10px;

}
#Redes img {
	width: 4%;

	display: inline-block;
}

