*{
 
    margin: 40;
    padding: 40;
    box-sizing: border-box;
    text-align: center;

}
#header{

    margin: auto;
    width: 700px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
}

#titulo{
	background : #200;
	color: #fff;
	text-align: center;
	padding: 10px;
}

#titulo .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}






ul,ol{
    list-style:none;
}


.menu li a { 
    background-color:#200 ;
    color: #fff;
    text-decoration: none;
    padding:10px 15px ;
    display:block;
}
.menu li a:hover{
    background-color:#434343 ;

}
.menu >li{
    float:left;
}
.menu li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}
.menu li:hover> ul{
    display:block
}
.menu li ul li{
    position: relative;
}
.menu li ul li ul{
    right: -140px;
    top:0px;
}



#info{
	background : rgb(2, 1, 1);
	color: #fff;
	text-align: center;
	padding: 20px;
}

#info .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.infor{
	margin: 20px;
}


.adelante{
	position: absolute;
	top: 83%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #F0FFFF;
}

.centrar{
	text-align: center;
}

#info1{
	background : rgb(2, 1, 1);
	color: #fff;
	text-align: center;
	padding: 20px;
}

#info1 .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.inforr{
	margin: 20px;
}
.adelante1{
	position: absolute;
	top: 170%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #F0FFFF;
}

.centrar{
	text-align: center;
}

#blanco2{
	background : #200;
	padding: 20px;
}

#blanco2 .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#blanco3{
	background : #200;
	padding: 20px;
}

#blanco3 .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#Redes{
	background-color:#200;
    text-align: center;
    font-size: 8px;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    	padding: 10px;

}
#Redes img {
	width: 4%;

	display: inline-block;
}

